.banner {
  background-image: url("../../images/sports-bg.jpg"),
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 640px;
  width: 100%;
  /* border: 1px solid red; */
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title {
  margin-left: 120px;
  text-align: start;
  color: white;
  font-weight: bold;
  font-size: 55px;
}
.about-btn {
  background-color: #2A2468;
  outline: none;
  border: 2px solid white;
  border-radius: 0px 25px 0px 25px;
  padding: 12px 45px;
  color: white;
  margin-left: 0px;
}
.about-btn:hover{
  color:orange;
}
.para{
  text-align: start;
  margin-left: 120px;
}
